# name: Vercel Deploy via REST API

# on:
#   push:
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Deploy
#         env:
#           TOKEN:   ${{ secrets.VERCEL_TOKEN }}
#           PROJECT: ${{ secrets.VERCEL_PROJECT_NAME }}
#           REPO_ID: ${{ github.event.repository.id }}
#           REF:     ${{ github.ref_name }}
#           SHA:     ${{ github.sha }}
#           AUTHOR:  ${{ github.event.head_commit.author.name }}
#           EMAIL:   ${{ github.event.head_commit.author.email }}
#           MSG:     ${{ github.event.head_commit.message }}
#         run: |
#           # AUTHOR=${AUTHOR:-${{ github.actor }}}
#           # PAYLOAD=$(jq -n \
#           #   --arg project "$PROJECT" --arg ref "$REF" --arg sha "$SHA" \
#           #   --arg repoId "$REPO_ID" --arg author "$AUTHOR" --arg email "$EMAIL" --arg msg "$MSG" \
#           #   '{name:$project, project:$project, target:"production",
#           #     gitSource:{type:"github", repoId:($repoId|tonumber), ref:$ref, sha:$sha},
#           #     gitMetadata:{commitAuthorName:$author, commitAuthorEmail:$email,
#           #                  commitMessage:$msg, commitRef:$ref, commitSha:$sha}}')
#           # curl -sS -X POST https://api.vercel.com/v13/deployments \
#           #   -H "Authorization: Bearer $TOKEN" \
#           #   -H "Content-Type: application/json" \
#           #   -d "$PAYLOAD"


#           curl -sS -X POST https://api.vercel.com/v13/deployments \
#                 -H "Authorization: Bearer $TOKEN" \
#                 -H "Content-Type: application/json" \
#                 -d "{
#                   \"name\": \"$PROJECT\",
#                   \"gitSource\": {
#                     \"type\": \"github\",
#                     \"repoId\": $REPO_ID,
#                     \"ref\": \"$REF\",
#                     \"sha\": \"$SHA\"
#                   }
#                 }"



name: Deploy to Vercel with CLI

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v4

      # - name: Install Vercel CLI
      #   run: npm i -g vercel@latest

      # - name: Deploy
      #   run: vercel --prod --yes --token $VERCEL_TOKEN

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel-args: "--prod"